@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_TemplateLayout";
}
@section CssScripts{
    <link href="~/css/login.css" rel="stylesheet" />

}
<div class="container p-5 ">
    <div class="row flex-row-reverse">
        <div class="col-md-5 shadow-lg bg-white rounded p-5" style="text-align: right;">
            <h2>اكتب البريد الالكترونى الخاص بك  لأسترجاع كلمة المرور</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" type="email" class="form-control" >
                    <small class="form-text text-muted">لن يتم مشاركة البريد الإلكتروني الخاص بك مع احد</small>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit">تأكيد</button>
            </form>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="col-md-7" style="text-align: center;">
            <h1>EgyShop</h1>
            <p>  اعرض منجاتك اونلاين عن طريق المنصه الخاصه بنا وتمتع بالعديد من المزايا والعروض</p>
            <img src="~/images/loginImage.jpg" style="width: 90%;" />
        </div>
    </div>

</div>
@section JsScripts{
    <partial name="_ValidationScriptsPartial" />
}

