@model EgyShop.Models.Store

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-12 product-container shadow-lg bg-white rounded p-5" style="text-align: right;">
    <h2>تعديل بيانات المتجر</h2>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="StoreId" />
        <input type="hidden" asp-for="UserID" />

        <div class="form-group col-md-6">
            <label asp-for="Name"> </label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6 ">
            <label asp-for="Description"> </label>
            <textarea asp-for="Description" rows="10" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>

        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email"> </label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="PhoneNumber"> </label>
            <input asp-for="PhoneNumber" class="form-control">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="FacebookPageLink"> </label>
            <input asp-for="FacebookPageLink" class="form-control" >
            <span asp-validation-for="FacebookPageLink" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Country"> </label>
            <input asp-for="Country" class="form-control">
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="City"> </label>
            <input asp-for="City" class="form-control" >
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Region"> </label>
            <input asp-for="Region" class="form-control" >
            <span asp-validation-for="Region" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Street"> </label>
            <input asp-for="Street" class="form-control" >
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="form-group  col-md-6">
            <label asp-for="StoreTypeId" class="control-label"></label>
            <select asp-for="StoreTypeId" class="form-control" asp-items="ViewBag.StoreTypeId"></select>
            <span asp-validation-for="StoreTypeId" class="text-danger"></span>
        </div>
        <button type="submit">تعديل</button>
        
    </form>
</div>
